.app {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template:
        "l p"
        "s p"
        "i p" / 1fr 3fr;
    grid-gap: 1rem;
    grid-template-rows: minmax(0, 100%) minmax(0, 100%) minmax(0, 1fr);
    align-items: start;
}

@media all and (max-width: 64rem) {
    .app {
        grid-template: "l s" "p p" "i i" / 1fr 1fr;
    }
}

@media all and (max-width: 50rem) {
    .app {
        grid-template: "l" "s" "p" "i";
    }
}
