.sidebar {
    grid-area: i;
}

.sidebar:hover {
    border-color: var(--color-dim);
}

.sidebar__title {
    margin: 0.5rem 0;
    text-transform: uppercase;
}

.sidebar__urls {
    list-style-type: none;
    padding-left: 0;
}

.sidebar__urls li {
    margin: 0.2em;
}
