.logo {
    display: grid;
    grid-template:
        "i h"
        "i s" / 1fr 3fr;
}

.logo .logo__img {
    max-width: 2rem;
    grid-area: i;
}

.logo .logo__heading {
    grid-area: h;
}

.logo .logo__desc {
    grid-area: s;
    font-style: italic;
}
